body {
    background: #fff;
}

iframe {
    border: none;
    width: 100%;
    height: 100%;
}

.deck-container .slide.quote {
    color: #fff;
    font-style: italic;
    background: #0d0f20;
}

.deck-container .slide.sub-slide {
    font-style: italic;
    font-weight: 300;
}

.deck-container .slide.code {
    color: #fff;
    font-style: italic;
    background: #0d0f20
}

.deck-container h1.title {
    font-weight: 200;
}
