body {
    background: #fff url(../img/logo_adobe.png) top right no-repeat fixed;
}

iframe {
    border: none;
    width: 100%;
    height: 100%;
}

.adobe-logo {
    position: absolute;
    right: 0;
    height: 79px;
    width: 100px;
    background: url(../img/logo_adobe.png) top right no-repeat fixed;
    z-index: 100;
}

.deck-container .slide.product_image {
    background: #fff;
}

.deck-container .slide.quote {
    color: #fff;
    font-style: italic;
    background: #ff0000;
}

.deck-container h1.title {
    font-weight: 200;
}
